name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: mirromutth/mysql-action@v1.1
        with:
          mysql database: 'test'
          mysql root password: ${{ secrets.DB_PASSWORD }} # Required if "mysql user" is empty, default is empty. The root superuser password

      - name: Grant execute permission for gradle
        run: chmod +x gradlew

      - name: test with Gradle
        run: ./gradlew test -i